<div  class="mt-5 d-flex justify-content-center align-items-center">

    <div  class="card align-items-center p-2" style="width:30rem;">
        <img class="w-25" [src]="contact.photo" alt="user img">
           <div  class="card-body text-center">
               <h5 class="card-title">Contact name</h5>

               <p>Id: {{contact.id}}</p>
               <p>Name:{{contact.name}}</p>
               <p> Mobile: {{contact.mobile}}</p>
               <p>Email: {{contact.email}}</p> 
               <p>Company: {{contact.company}}</p>
               <p>Title: {{contact.title}}</p> 
               <p>Group: {{group}}</p>
              
       
       </div>
  

   </div>

</div>