/* 
font-family: 'Amatic SC', cursive;
font-family: 'Anton', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Inter', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif; */
*{
    font-family: 'Solway', serif;
}

/* font-family: 'Titan One', cursive; */